@tailwind base;

@tailwind components;

@tailwind utilities;

a[href*="https"] {
  position: relative;
  text-decoration: underline;
}

a[href*="https"] code {
  color: blueviolet;
}

a[href*="https"]::after {
  content: '«';
  position: absolute;
  transform: rotate(135deg);
  width: 0.75em;
  height: 0.75em;
  color: blueviolet;
}


a[href*="https"]::before {
  content: attr(href);

  position: absolute;
  top: 100%;

  opacity: 0;
  background: white;
  padding: 3px 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
  border-left: 1px solid #eee;

  text-decoration: underline;
  color: blueviolet;
  z-index: 1;
}

a[href*="https"]:hover::before {
  opacity: 1;
}